.header {
    position: relative;

    height: 60px;

    padding-top: 16px;
    padding-bottom: 16px;

    font-weight: 500;
    font-size: 12px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    @media screen and (min-width: 768px) {
        padding-top: 21px;
        padding-bottom: 21px;
        height: 80px;
        font-size: 14px;
        font-weight: 500;
    }

    @media screen and (min-width: 1200px) {
        padding-top: 24px;
        padding-bottom: 25px;
    }
}

.nav {
    text-align: left;
    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
    }
}

.nav__menu-button {
    position: absolute;
    top: 50%;
    right: 15px;

    z-index: 10;

    height: 40px;
    width: 40px;
    padding: 0;
    margin: 0;

    transform: translateY(-50%);

    color: $title-text-color;
    background-color: transparent;
    border: none;

    &:hover,
    &:focus {
        color: $accent-color;
    }

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.nav__menu-button--close {
    display: none;

    .nav__menu-button.is-open & {
        display: block;
    }
}

.nav__menu-button--open {
    display: block;

    .nav__menu-button.is-open & {
        display: none;
    }
}

.nav_nav-wrapper {
    @media screen and (max-width: 767px) {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        padding: 48px 40px;

        z-index: 1;

        background-color: $main-white-color;

        &.is-open {
            display: flex;
            flex-direction: column;
        }
    }

    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column;
        width: 100%;
        // align-items: center;
        // justify-content: center;
    }
}

.nav__list-pages {
    color: $title-text-color;

    @media screen and (max-width: 767px) {
        line-height: 1.17;
        margin-bottom: 32px;
    }

    @media screen and (min-width: 768px) {
        & + & {
            margin-left: 50px;
        }
    }
}

.nav__list-contacts {
    color: $primary-text-color;

    @media screen and (max-width: 767px) {
        line-height: 1.17;
        margin-bottom: 32px;
    }

    @media screen and (min-width: 768px) {
        & + & {
            margin-top: 10px;
        }
    }

    @media screen and (min-width: 1200px) {
        & + & {
            margin-top: 0;
            margin-left: 10px;
        }
    }
}

.nav__link {
    // position: relative;
    // display: inline-flex;

    @media screen and (max-width: 767px) {
        font-size: 40px;
    }

    align-items: center;

    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
        color: $accent-color;
    }
}

.nav__pages {
    @media screen and (max-width: 767px) {
        margin-bottom: auto;
    }

    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        margin-left: 88px;
    }

    @media screen and (min-width: 1200px) {
        // margin-left: auto;
    }
}

.nav__contacts {
    @media screen and (max-width: 767px) {
        display: flex;
        flex-direction: column;
        flex-flow: column-reverse;

        margin-bottom: 32px;
    }

    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: left;

        margin: 0;
        margin-left: 84px;
        padding: 0;
    }

    @media screen and (min-width: 1200px) {
        margin-left: auto;
        align-items: center;
        flex-direction: row;
    }
}

.nav__list--email-480 {
    @media screen and (max-width: 767px) {
        font-size: 24px;
        color: $primary-text-color;
    }

    @media screen and (min-width: 768px) {
        display: flex;
        font-size: 12px;
    }

    @media screen and (min-width: 1200px) {
        font-size: 14px;
    }
}

.nav__list--phone-480 {
    @media screen and (max-width: 767px) {
        font-size: 34px;
        color: $accent-color;
    }

    @media screen and (min-width: 768px) {
        display: flex;
        font-size: 12px;
    }

    @media screen and (min-width: 1200px) {
        font-size: 14px;
    }
}

.nav__link--current {
    @media screen and (min-width: 768px) {
        color: $accent-color;

        position: relative;

        &:after {
            content: "";

            position: absolute;

            bottom: -28px;
            left: 0;

            width: 100%;
            height: 4px;
            border-radius: 2px;

            background-color: $accent-color;

            @media screen and (min-width: 1200px) {
                bottom: -32px;
            }
        }
    }
}

.nav__icon {
    margin-right: 8px;
    color: inherit;

    @media screen and (max-width: 767px) {
        display: none;
    }

    @media screen and (min-width: 1200px) {
        margin-right: 10px;
    }
}

.nav__social-networks {
    display: none;

    @media screen and (max-width: 767px) {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

.nav__span-border {
    color: rgba(33, 33, 33, 0.2);
    margin-left: 10px;
    margin-right: 10px;
}

.nav__link-social {
    text-decoration: none;
    color: $accent-color;
}
