.our-team {
    background-color: $ourteam-background-color;
}

.our-team__list {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}




.our-team__item {

    background-color: $main-white-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    @media screen and (min-width: 480px) {
        width: 100%;
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    @media screen and (min-width: 768px) {
        width: 354px;
        margin-bottom: 30px;

        &:nth-last-child(-n+2) {
            margin-bottom: 0;
        }
    }

    @media screen and (min-width: 1200px) {
        width: 270px;
        margin-bottom: 0;
    }

}


.our-team__img {
    width: 100%;
}




.our-team__h2 {
    text-align: center;
    margin-bottom: 30px;

    font-weight: 600;
    font-size: 28px;
    line-height: 1.17;

    @media screen and (min-width: 1200px) {
        font-size: 36px;
        line-height: 1.16;
        margin-bottom: 30px;
    }

}

.our-team__h3 {
    text-align: center;
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.9;

    &+p {
        margin-bottom: 16px;
        text-align: center;

        font-weight: 400;
        font-size: 16px;
        line-height: 1.9;
    }
}

.our-team__social-links-positioning {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.our-team__fio {
    padding-top: 30px;

    padding-bottom: 24px;

    @media (min-width: 1200px) {
        padding-bottom: 30px;

    }
}