.out-work {
    margin-bottom: 94px;
}

.our-work__h2 {
    text-align: center;
    margin-bottom: 50px;

    font-weight: 600;
    font-size: 36px;
    line-height: 1.16;
}

.our-work__list {
    display: flex;
}

.our-work__item {
    position: relative;

    &+& {
        margin-left: 30px;
    }
}

.our-work__explanation {
    position: absolute;
    bottom: 0;
    left: 0;

    height: 70px;
    width: 100%;
    padding-top: 27px;
    padding-bottom: 27px;

    background: rgba(47, 48, 58, 0.8);
}

.our-work__h3 {
    color: $main-white-color;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
}