// here will be presets and utility classes


body {
    color: $primary-text-color;
    background-color: $main-white-color;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.03em;
}

button {
    font-family: inherit;
}

/* setting headers font color*/
h1,
h2,
h3,
h4,
h5,
h6 {
    color: $title-text-color;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
}


/* -------------general classes------------------ */
/* common container */
.container {
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    width: 1200px;
    text-align: center;
}

/* common list */

.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* common section */

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.accent-color {
    color: $accent-color;
}

.img {
    display: block;
}

.svg {
    fill: currentColor;
}

/* ----------------Visually Hidden block--------------------------- */
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.btn {
    width: 200px;
    height: 50px;

    border-radius: 4px;
    border: 1px solid $accent-color;



    font-size: 16px;
    line-height: 1.88;
    font-weight: 600;

    background-color: $accent-color;
    color: $main-white-color;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: #188CE8;
    }
}